Repository microsoft/ALAppExtensions, pull requests merged in 2023-11, with the labels that each got.

#25152 Add modify permissions to "Recurrence Schedule"
  Modules/System/Recurrence Schedule/src/RecurrenceScheduleImpl.Codeunit.al
Labels: processing-PR, system application

#24169 APIs for Fixed Assets and Fixed Asset Locations
  Apps/W1/APIV2/app/src/pages/APIV2FALocations.Page.al
  Apps/W1/APIV2/app/src/pages/APIV2FixedAssets.Page.al
  Apps/W1/APIV2/test/src/APIV2FALocationsE2E.Codeunit.al
  Apps/W1/APIV2/test/src/APIV2FixedAssetsE2E.Codeunit.al
Labels: ships-in-future-update, processing-PR

#25266 Update package versions
  Build/Packages.json
Labels: automation

#25223 Refactor Service Declaration Mgt for temporary SalesHeader/PurchHeader
  Apps/W1/ServiceDeclaration/app/src/Processing/ServiceDeclarationMgt.Codeunit.al
Labels: ships-in-future-update, processing-PR

#25281 Sync workflows and scripts from BCApps
  .github/workflows/CreateBuildTag.yaml
  .github/workflows/PublishNuget.yaml
  Build/Scripts/AppTranslations.psm1
  Build/Scripts/AutomatedSubmission.psm1
  Build/Scripts/CompileAppInBcContainer.ps1
  Build/Scripts/GitHub/GitHubAPI.class.psm1
  Build/Scripts/GitHub/GitHubIssue.class.psm1
  Build/Scripts/GitHub/GitHubPullRequest.class.psm1
  Build/Scripts/PSScriptAnalyzerSettings.psd1
  Build/Scripts/PreCompileApp.ps1
  Build/Scripts/PullRequestValidation/AddMilestoneToPullRequest.ps1
  Build/Scripts/PullRequestValidation/ValidateIssuesForPullRequest.ps1
  Build/Scripts/SyncMirror.ps1
  Build/Scripts/UpdateBCArtifactVersion.ps1
  Build/Scripts/UpdatePackageVersions.ps1
Labels: internal

#25289 use "if" "then" with get for posted document when calling e-document subscriptions
  Apps/W1/EDocument/app/src/Processing/EDocumentSubscription.Codeunit.al
Labels: processing-PR
